img{
    width: 100%;
}

header{
    width: 100%;
    height: 100%;
}

.has-margin-right{
    margin-right: 5rem;
}

a{
    -webkit-text-fill-color: #4bcdee;
}

a:hover{
    -webkit-text-fill-color: var(--lorange);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgba(2, 11, 15, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9998;
}

.logo{
    width: 50px;
    transform: scale(1.03);
    transition: 500ms ease 0s;
}

.logo:hover{
    transition: 500ms ease 0s;
    transform: scale(1.15);
}

.nav-link{
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-fill-color: white;
    font-size: medium;
    text-transform: uppercase;
    padding: 1rem;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-links .active a{
   -webkit-background-clip: text;
   background-clip: text; 
}

.nav-links a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--blue);
    background-clip: text; 
}

.nav-links li{
    list-style: none;
    padding-top: 20px;
}

.burger{
    cursor: pointer;
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--yellow);
    margin: 5px;
    transition: all 300ms ease;
}

@media screen and (max-width: 1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width: 1200px){
    .nav-links{
        width: 40%;
    }
    .about-area{
        padding-top: 20rem;
    }
    .skills-area{
        padding-top: 1rem;
    }
    .experience-area .experiences > details{
        padding-left: 6rem;
        padding-right: 6rem;
    }  
}

@media screen and (max-width: 768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(2, 11, 15, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 400ms ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
    .skills-area{
        padding-top: 1rem;
    }
    .about-area{
        padding-top: 30rem;
    }
    .experience-area .experiences > details{
        padding-left: 2rem;
        padding-right: 2rem;
    }    
}

@media screen and (max-width: 568px){

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

.me{
    border-radius: 5%;
    border: 2px solid var(--blue);
    width: 13rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.title-container img{
    height: 35px;
    padding-right: 10px;
}

.title-container h3{
    width: calc(100% - 40px); 
    font-family: 'Space Mono', monospace;
    letter-spacing: 2px;
    -webkit-text-fill-color: var(--dblue);
    margin: 0px;
}

.about-section{
    width: 100%;
    margin-right: 10rem;
    padding-top: 4rem;
}


.about-container{
    width: 75%;
    /* height: 100%; */
    position: relative;
    float: right;
    /* background-color: yellow; */
    border-collapse: collapse;
    
}

.about{
    margin-right: 10rem;
    margin-left: 1.5rem;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 50px;
    padding-bottom: 1rem;
}

.interests-container{
    padding-top: 20rem;
    align-items: center;
}

.about-title h6{
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-text-fill-color: var(--dblue);
    font-weight: bold;
    font-size: large;
}

